In [1]:
#Import Dependencies
import pandas as pd
import numpy as np

In [2]:
#Load in data from csv
pipes_df = pd.read_csv("Pipe_data.csv")
pipes_df.head()

C:\Users\shwet\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (57,59,60,61) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,FID,MOID,DIAMETER,PIPE_LENGTH,MATERIAL,DESCRIPTION,YEAR_INSTALLED,PRESSURE_ZONE,LINING,LINE_YEAR,...,WORK_ORDER_NUMBER,Comments,ReportDate,StartDateT,CompletedD,ReportedY,SrvcRqst_1,MATERIAL_1,MUSYM,FAILURE
0,16420,P35881,8.0,861.090481,M.J.,Distribution,1952,Hemp 1175,,0,...,1143689,PER UNIT 819\n\rREQUEST 1 6X12 PLATE AND 4 BAG...,2014-10-25,2014-11-16,2014-11-16,2014,Water Request,CAS,Ub,1
1,44465,P88079,8.0,749.511184,TYT,Distribution,1965,Hemp 1175,,0,...,1311148,MAIN BREAK,2015-08-18,2015-08-18,2015-08-18,2015,Water Request,DIP,ReD,1
2,23810,P53764,8.0,171.554040,M.J.,Distribution,1958,Hemp 1175,,0,...,1323748,PER JONATHAN WEBB THERE IS A MAIN BREAK AT THI...,2015-09-11,2015-09-12,2015-09-12,2015,Water Pressure Complaint,DIP,Ub,1
3,52630,P400741,8.0,42.761097,M.J.,Distribution,1958,Hemp 1175,,0,...,1323748,PER JONATHAN WEBB THERE IS A MAIN BREAK AT THI...,2015-09-11,2015-09-12,2015-09-12,2015,Water Pressure Complaint,DIP,Ub,1
4,10510,P20210,12.0,31.300481,DIP,Transmission,2006,Hemp 1175,,0,...,1628288,PER J. SKINNER MAIN BREAK AT LOCATION\nCall ta...,2017-01-22,2017-02-28,2017-02-28,2017,Turn off burst pipe,DIP,Ub,1

In [4]:
#clean data by converting all columns with strings to float/int or other type that works in ML 

#find all columns in dataframe where type = object 
df_types = pipes_df.select_dtypes(include=[np.object])

print(f'There are {len(df_types.dtypes)} columns containing strings')
print('--------------------------------------------------------------')
print(df_types.dtypes)

There are 23 columns containing strings
--------------------------------------------------------------
MOID                 object
MATERIAL             object
DESCRIPTION          object
PRESSURE_ZONE        object
LINING               object
PATTERN1             object
PATTERN2             object
PATTERN3             object
PATTERN4             object
PATTERN5             object
PATTERN6             object
PATTERN7             object
PATTERN8             object
PATTERN9             object
PATTERN10            object
WORK_ORDER_NUMBER    object
Comments             object
ReportDate           object
StartDateT           object
CompletedD           object
SrvcRqst_1           object
MATERIAL_1           object
MUSYM                object
dtype: object

In [5]:
#get dummies for columns where applicable--MATERIAL, DESCRIPTION, PRESSURE_ZONE
pipes_df = pd.concat([pipes_df, pd.get_dummies(pipes_df['MATERIAL'], prefix='MATERIAL')], axis=1)
pipes_df = pd.concat([pipes_df, pd.get_dummies(pipes_df['DESCRIPTION'], prefix='DESCRIPTION')], axis=1); 
pipes_df = pd.concat([pipes_df, pd.get_dummies(pipes_df['PRESSURE_ZONE'], prefix='P-ZONE')], axis=1); 
pipes_df.head()

,FID,MOID,DIAMETER,PIPE_LENGTH,MATERIAL,DESCRIPTION,YEAR_INSTALLED,PRESSURE_ZONE,LINING,LINE_YEAR,...,DESCRIPTION_Distribution,DESCRIPTION_Experimental Pipe not in CIP,DESCRIPTION_Facility Pipe,DESCRIPTION_Proposed Main: Adamsville,DESCRIPTION_Transmission,P-ZONE_Chatt 1020,P-ZONE_Hemp 1175,P-ZONE_Hemp 1175 (moved),P-ZONE_North 1225,P-ZONE_WTP
0,16420,P35881,8.0,861.090481,M.J.,Distribution,1952,Hemp 1175,,0,...,1,0,0,0,0,0,1,0,0,0
1,44465,P88079,8.0,749.511184,TYT,Distribution,1965,Hemp 1175,,0,...,1,0,0,0,0,0,1,0,0,0
2,23810,P53764,8.0,171.554040,M.J.,Distribution,1958,Hemp 1175,,0,...,1,0,0,0,0,0,1,0,0,0
3,52630,P400741,8.0,42.761097,M.J.,Distribution,1958,Hemp 1175,,0,...,1,0,0,0,0,0,1,0,0,0
4,10510,P20210,12.0,31.300481,DIP,Transmission,2006,Hemp 1175,,0,...,0,0,0,0,1,0,1,0,0,0

In [6]:
#drop original columns--MATERIAL, DESCRIPTION, PRESSURE_ZONE
pipes_df2 = pipes_df.drop(columns={ 'MATERIAL',
 'DESCRIPTION',
 'PRESSURE_ZONE',})
pipes_df2.head()

,FID,MOID,DIAMETER,PIPE_LENGTH,YEAR_INSTALLED,LINING,LINE_YEAR,INDEX_YR,ROUGHNESS,FLOW,...,DESCRIPTION_Distribution,DESCRIPTION_Experimental Pipe not in CIP,DESCRIPTION_Facility Pipe,DESCRIPTION_Proposed Main: Adamsville,DESCRIPTION_Transmission,P-ZONE_Chatt 1020,P-ZONE_Hemp 1175,P-ZONE_Hemp 1175 (moved),P-ZONE_North 1225,P-ZONE_WTP
0,16420,P35881,8.0,861.090481,1952,,0,1952,86,23.4711,...,1,0,0,0,0,0,1,0,0,0
1,44465,P88079,8.0,749.511184,1965,,0,1965,122,56.2002,...,1,0,0,0,0,0,1,0,0,0
2,23810,P53764,8.0,171.554040,1958,,0,1958,61,79.6832,...,1,0,0,0,0,0,1,0,0,0
3,52630,P400741,8.0,42.761097,1958,,0,1958,61,79.6832,...,1,0,0,0,0,0,1,0,0,0
4,10510,P20210,12.0,31.300481,2006,,0,2006,139,98.6106,...,0,0,0,0,1,0,1,0,0,0

In [7]:
# Now work on the'PATTERN' columns. There are 10 of them. 
#check if each pattern column only has 1 value
pipes_df2["PATTERN1"].value_counts()

RES    55937
          75
Name: PATTERN1, dtype: int64

In [8]:
pipes_df2["PATTERN2"].value_counts()

NON-RES    55937
              75
Name: PATTERN2, dtype: int64

In [9]:
pipes_df2["PATTERN3"].value_counts()

WHOLE    55937
            75
Name: PATTERN3, dtype: int64

In [10]:
pipes_df2["PATTERN4"].value_counts()

FLUSH    55937
            75
Name: PATTERN4, dtype: int64

In [11]:
pipes_df2["PATTERN5"].value_counts()

UFW    55937
          75
Name: PATTERN5, dtype: int64

In [12]:
pipes_df2["PATTERN6"].value_counts()

RES-DISTR    55937
                75
Name: PATTERN6, dtype: int64

In [13]:
pipes_df2["PATTERN7"].value_counts()

NON-RES-DISTR    55937
                    75
Name: PATTERN7, dtype: int64

In [14]:
pipes_df2["PATTERN8"].value_counts()

                56010
2030-CWTP-NS        2
Name: PATTERN8, dtype: int64

In [15]:
pipes_df2["PATTERN9"].value_counts()

     56012
Name: PATTERN9, dtype: int64

In [16]:
pipes_df2["PATTERN10"].value_counts()

     56012
Name: PATTERN10, dtype: int64

In [17]:
#Condense correlating PATTERN + DEMAND columns into 1 column
pipes_df2 = pipes_df2.rename(columns={"DEMAND1":"Demand_RES", "DEMAND2":"Demand_NON-RES","DEMAND3":"Demand_WHOLE","DEMAND4":"Demand_FLUSH","DEMAND5":"Demand_UFW",
                                     "DEMAND6":"Demand_RES-DISTR","DEMAND7":"Demand_NON RES-DISTR","DEMAND8":"Demand_2030-CWTP-NS"})

#Delete unneeded columns
#NOTE to Team: I didnâ€™t see any data at all in the â€˜DEMAND9â€™, â€˜PATTERN9â€™, â€˜DEMAND10â€™, â€˜PATTERN10â€™ columns,so I deleted all of these columns
pipes_df3 = pipes_df2.drop(columns={"PATTERN1", "PATTERN2", "PATTERN3", "PATTERN4", "PATTERN5", "PATTERN6", "PATTERN7", "PATTERN8", "PATTERN9", "PATTERN10", "DEMAND9", "DEMAND10"})

In [18]:
pipes_df3.head()

,FID,MOID,DIAMETER,PIPE_LENGTH,YEAR_INSTALLED,LINING,LINE_YEAR,INDEX_YR,ROUGHNESS,FLOW,...,DESCRIPTION_Distribution,DESCRIPTION_Experimental Pipe not in CIP,DESCRIPTION_Facility Pipe,DESCRIPTION_Proposed Main: Adamsville,DESCRIPTION_Transmission,P-ZONE_Chatt 1020,P-ZONE_Hemp 1175,P-ZONE_Hemp 1175 (moved),P-ZONE_North 1225,P-ZONE_WTP
0,16420,P35881,8.0,861.090481,1952,,0,1952,86,23.4711,...,1,0,0,0,0,0,1,0,0,0
1,44465,P88079,8.0,749.511184,1965,,0,1965,122,56.2002,...,1,0,0,0,0,0,1,0,0,0
2,23810,P53764,8.0,171.554040,1958,,0,1958,61,79.6832,...,1,0,0,0,0,0,1,0,0,0
3,52630,P400741,8.0,42.761097,1958,,0,1958,61,79.6832,...,1,0,0,0,0,0,1,0,0,0
4,10510,P20210,12.0,31.300481,2006,,0,2006,139,98.6106,...,0,0,0,0,1,0,1,0,0,0

In [19]:
#ANUM'S STOPPING POINT
#These are the columns that still need to be converted to different types
df_types = pipes_df3.select_dtypes(include=[np.object])
df_types.dtypes

MOID                 object
LINING               object
WORK_ORDER_NUMBER    object
Comments             object
ReportDate           object
StartDateT           object
CompletedD           object
SrvcRqst_1           object
MATERIAL_1           object
MUSYM                object
dtype: object

In [27]:
#created new dataframe to change the datatype of ReportDate,StartDateT,CompletedD from object to datetime
df_date=pipes_df3

In [28]:
df_date["ReportDate"]=pd.to_datetime(df_date["ReportDate"], yearfirst=True, errors='coerce')
df_date["StartDateT"]=pd.to_datetime(df_date["StartDateT"],yearfirst=True, errors='coerce')
df_date["CompletedD"]=pd.to_datetime(df_date["CompletedD"],yearfirst=True, errors='coerce')

In [29]:
df_types11 = df_date.select_dtypes(include=[np.object])
df_types11.dtypes

MOID                 object
LINING               object
WORK_ORDER_NUMBER    object
Comments             object
SrvcRqst_1           object
MATERIAL_1           object
MUSYM                object
dtype: object

In [30]:
df_date["ReportDate"].head()

0   2014-10-25
1   2015-08-18
2   2015-09-11
3   2015-09-11
4   2017-01-22
Name: ReportDate, dtype: datetime64[ns]

In [31]:

df_date["CompletedD"].head()

0   2014-11-16
1   2015-08-18
2   2015-09-12
3   2015-09-12
4   2017-02-28
Name: CompletedD, dtype: datetime64[ns]

In [32]:
df_date["StartDateT"].head()

0   2014-11-16
1   2015-08-18
2   2015-09-12
3   2015-09-12
4   2017-02-28
Name: StartDateT, dtype: datetime64[ns]